<sly data-sly-use.container="${'io.kestros.cms.components.basic.structure.section.SectionComponent'}"
     data-sly-use.context="${'io.kestros.cms.sitebuilding.api.models.ComponentRequestContext'}"/>

<sly data-sly-use.includes="/libs/kestros/commons/components/includes.html"/>

<div class="nova-section ${context.inlineVariations}" data-sly-element="${container.elementType}">
    <div class="nova-container">
        <sly data-sly-call="${includes.contentArea @ component = container}"/>
    </div>
</div>
