<sly data-sly-use.card="${'io.kestros.cms.components.basic.core.content.card.CardDataSourceComponent'}"/>
<div class="box ${card.inlineVariations}" data-aos="zoom-in" data-aos-delay="100">
    <h3 data-sly-test="${card.titleElement}">${card.titleElement.headingText}</h3>
    <img data-sly-test="${card.imageElement}" src="${card.imageElement.imagePath}" class="img-fluid" alt="${card.imageElement.altText}"/>
    <sly data-sly-test="${card.description}">
        <p class="description">${card.description}</p>
    </sly>
    <sly data-sly-test="${card.buttonGroup}" data-sly-resource="${card.buttonGroup}"/>
</div>
