<sly data-sly-use.topNav="${'io.kestros.cms.components.basic.core.navigation.topnav.TopNavigationDataSourceComponent'}"/>
<header id="header" class="header fixed-top ${topNav.inlineVariations}">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <sly data-sly-test="${topNav.imageElement}">
                <img src="${topNav.imageElement.imagePath}" alt="${topNav.brandName}"/>
            </sly>
            <span>${topNav.brandName}</span>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <sly data-sly-list.item="${topNav.navigationLinks}">
                    <sly data-sly-resource="${item}"/>
                </sly>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
