<sly data-sly-use.image="${'io.kestros.cms.components.basic.content.image.ImageComponent'}"
     data-sly-use.context="${'io.kestros.cms.sitebuilding.api.models.ComponentRequestContext'}"/>

<sly data-sly-test="${!image.caption}">
    <sly data-sly-test="${!image.href}">
        <img class="nova-image ${context.inlineVariations}" src="${image.imagePath}" alt="${image.altText}"
             loading="lazy"/>
    </sly>
    <sly data-sly-test="${image.href}">
        <a href="${image.href @ context='uri'}" target="${image.targetAsString}">
            <img class="nova-image ${context.inlineVariations}" src="${image.imagePath}" alt="${image.altText}"
                 loading="lazy"/>
        </a>
    </sly>
</sly>

<sly data-sly-test="${image.caption}">
    <figure class="nova-image ${context.inlineVariations}">
        <sly data-sly-test="${!image.href}">
            <img src="${image.imagePath}" alt="${image.altText}" loading="lazy"/>
        </sly>
        <sly data-sly-test="${image.href}">
            <a href="${image.href @ context='uri'}" target="${image.targetAsString}">
                <img src="${image.imagePath}" alt="${image.altText}" loading="lazy"/>
            </a>
        </sly>
        <figcaption>${image.caption}</figcaption>
    </figure>
</sly>
